@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.nav-icon {
  font-size: 1.75rem;
  padding: 0%;
  
}

.bi-github {
  content: "\F3ED";
  color: black;
  line-height: 0;
  padding-top: 0.15rem;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  
  --bs-btn-active-color: black;
}

.bi-github:hover {
  color: white;
  background-color: black;

}
